/* Navbar  style */
.page-head{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-collapse{
    padding-left: 150px;
}
.nav-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.search-input{
    width: 130px;
    margin-right: 25px;
}
.nav-icon{
    padding-right: 40px;
}

/* home styling */
.container-home{
    background-color: #b8d3be;
}
.home-image{
    border-bottom: 5px solid #034e2b;
    border-left: 5px solid #034e2b;
    width: 400px;
    height: 300px;
}
.home-texts{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #034e2b;
    padding: 30px;
}
.sub-para{
    background-color: #034e2b;
    color: white;
    border-radius: 50px;
    width: 75%;
    padding-left: 20px;
}

/* categories */
.card-category{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px dashed #034e2b ;
    height: 250px;
   
}
.heading{
    display: flex;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}
/* blogs */
.blogs-text{
    font-family:'Times New Roman', Times, serif;
    color: #034e2b;
}